@import "modules/_colors.scss";

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background-color: $blue-grey-100;
}

.list {
  width: 900px;
  margin: 0 auto;
}

.link-container {
  a {
    color: $grey-400;
    text-decoration: none;

    &:hover {
      color: $red-500;
    }
  }

  .link {
    font-size: 1.2rem;
    color: $grey-800;
  }

  .info {
    font-size: 0.9rem;
    color: $grey-400;

    .description {
      display: inline;

      a {
        color: $red-500;
      }
    }

    .controls {
      display: inline;
      float: right;

      .comments {
        &:hover {
          color: $red-500;
        }
      }
    }
  }
}

.card {
  background-color: $white;
  box-shadow: 0 -1px 0 $grey-300, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
  margin: 10px;
  padding: 16px 22px;
}
