@import "modules/_colors.scss";

$theme-color: $red-500;

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background-color: $blue-grey-100;
}

.list {
  width: 900px;
  margin: 0 auto;
}

.link-container {
  a {
    color: $grey-400;
    text-decoration: none;

    &:hover {
      color: $theme-color;
    }
  }

  .link {
    font-size: 1.2rem;
    color: $grey-800;
  }

  .info {
    font-size: 0.9rem;
    color: $grey-400;

    .description {
      display: inline;

      a {
        color: $theme-color;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .controls {
      display: inline;
      float: right;

      .comments {
        &:hover {
          color: $theme-color;
        }

        span {
          margin: 5px;
        }
      }
    }
  }
}

.card {
  background-color: $white;
  box-shadow: 0 -1px 0 $grey-300, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
  margin: 10px;

  .thumbnail {
    padding: 0;
    width: 70px;
    height: 70px;
    overflow: hidden;
    display: inline-block;

    img {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .content {
    padding: 15px 22px;
    display: inline-block;
    vertical-align: top;
    width: 87%;
  }
}
