@import "modules/_colors.scss";

$theme-color: $red-500;

@import "partials/_layout.scss";
@import "partials/_nav.scss";
@import "partials/_sidebar.scss";
@import "partials/_links.scss";

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background-color: $blue-grey-100;
}
