.list {
  @media(max-width: 1800px) {
    width: 66.66%;
  }
  @media(max-width: 1260px) {
    width: 840px;
  }
  @media(max-width: 920px) {
    width: auto;
  }

  width: 1200px;
  padding: $nav-height 15px 40px;
  margin-left: auto;
  margin-right: auto;

  .page-nav {
    margin: 10px;
    min-height: 20px;

    a {
      background-color: $theme-color;
      cursor: pointer;

      &.prev {
      }

      &.next {
        float: right;
      }
    }
  }
}

.card {
  background-color: $white;
  box-shadow: 0 -1px 0 $grey-300, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
  margin: 10px;

  .thumbnail-container {
    display: inline-block;

    .thumbnail {
      padding: 0;
      width: 70px;
      height: 70px;
      overflow: hidden;
      display: inline-block;
      position: relative;

      img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }

      &.nsfw {
        color: white;
        background-color: $red-800;

        .placeholder-logo {
          top: 12px;
        }

        &::before {
          content: 'nsfw';
          position: absolute;
          top: 48px;
          width: inherit;
          text-align: center;
          background-color: $grey-700;
        }
      }

      .placeholder-logo {
        width: inherit;
        position: absolute;
        top: 18px;
        text-align: center;
      }
    }
  }

  .content {
    padding: 15px 22px;
    display: inline-block;
    vertical-align: top;
    width: 86%;
  }
}
