.nav {
  width: 100%;
  height: 150px;
  background-color: $theme-color;
  color: $white;

  a {
    color: $white;
    text-decoration: none;
    font-weight: lighter;
  }

  .top {
    .navicon {
      vertical-align: top;
      padding: 20px;
    }

    .logo {
      display: inline-block;
      margin: 20px;
      font-size: 3rem;

      .reddit {
        padding-right: 20px;
      }
    }

    .github-link {
      float: right;
      vertical-align: top;
      padding: 10px;
    }
  }

  .bottom {
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: middle;

    .sorts {
      a {
        padding: 20px 10px;
        font-size: 1.2rem;
        text-transform: uppercase;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: rgba(255, 255, 255, 0.3);
        }
      }
    }
  }
}
