.page-nav {
  margin: 10px;
  min-height: 20px;

  a {
    background-color: $theme-color;
    cursor: pointer;

    &:hover {
      background-color: $red-400;
    }

    &.prev {
    }

    &.next {
      float: right;
    }
  }
}
